---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import { getProducts } from "@/services/utils/get-products";

const currentProducts = await getProducts();

const { error } = Object.fromEntries(Astro.url.searchParams);
---

<DashboardLayout title="Inventory">
  {
    error != null && (
      <div class="bg-red-500/90 animate-fade-in animate-delay-250 rounded-md text-white p-4 mb-4">
        {error}
      </div>
    )
  }
  <main
    transition:name="inventory-box"
    class="flex flex-col h-full overflow-hidden"
  >
    <header class="flex justify-between items-center mb-4">
      <h1 class="text-3xl font-bold" transition:name="inventory-title">
        Inventario
      </h1>

      <a
        href="/dashboard/inventory/add"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md transition-colors"
      >
        Nuevo Producto
      </a>
    </header>

    <!--
// v0 by Vercel.
// https://v0.dev/t/cXgddSNfqma
-->

    <div class="border rounded-lg w-full">
      <div class="relative w-full overflow-auto">
        <div class="relative w-full overflow-auto">
          <table class="w-full caption-bottom text-sm">
            <thead class="[&_tr]:border-b">
              <tr
                class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted"
              >
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 max-w-[150px]"
                >
                  Nombre
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0"
                >
                  Precio
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0"
                >
                  Stock
                </th>
                <th
                  class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0"
                >
                  Descuento
                </th>
                <th
                  class="h-12 px-4 align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 text-right"
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody class="[&_tr:last-child]:border-0">
              {
                currentProducts.map((product) => (
                  <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                    <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 font-medium">
                      {product.name}
                    </td>
                    <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">
                      ${product.price}
                    </td>
                    <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">
                      {product.stock}
                    </td>
                    <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0">
                      ${product.discount}
                    </td>
                    <td class="p-4 align-middle [&:has([role=checkbox])]:pr-0 text-right">
                      <div class="flex justify-end gap-2">
                        <a
                          href={`/dashboard/inventory/edit/${product.id}`}
                          class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3"
                        >
                          Editar
                        </a>
                        <form
                          action={`/api/inventory/delete-product/${product.id}`}
                          method="post"
                          class="inline-block"
                        >
                          <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-destructive text-destructive-foreground hover:bg-destructive/90 h-9 rounded-md px-3 ">
                            Borrar
                          </button>
                        </form>
                      </div>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</DashboardLayout>
