---
import DashboardLayout from "@/layouts/dashboard-layout.astro";
import { getProducts } from "@/services/utils/get-products";

const currentProducts = await getProducts();
---

<DashboardLayout title="Inventory">
    <main class="flex flex-col h-full overflow-hidden">
        <header class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold" transition:name="inventory-title">
                Inventario
            </h1>

            <a
                href="/dashboard/inventory/add"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
                Nuevo Producto
            </a>
        </header>

        <section class="h-full overflow-y-auto">
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Precio</th>
                        <th class="text-left">Stock</th>
                        <th class="text-left">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {
                        currentProducts.map((product) => (
                            <tr>
                                <td>{product.name}</td>
                                <td>{product.price}</td>
                                <td>{product.stock}</td>
                                <td>
                                    <a
                                        href={`/dashboard/inventory/edit/${product.id}`}
                                        class="border border-blue-500 text-blue-500 px-2 py-1 rounded hover:bg-blue-500 hover:text-white transition-colors"
                                    >
                                        Edit
                                    </a>

                                    <form
                                        action={`/api/inventory/delete-product/${product.id}`}
                                        method="post"
                                        class="inline-block"
                                    >
                                        <button
                                            type="submit"
                                            class="border border-red-500 text-red-500 px-2 py-1 rounded ml-2 hover:bg-red-500 hover:text-white transition-colors"
                                        >
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </section>
    </main>
</DashboardLayout>
